<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post">
  <p>{{title}}</p>
  <input type="text" name="number" value="0">
  <input type="submit" value="Show">
</form>

{{#each titles}}
  <p>{{@key}}:{{this}}</p>
{{/each}}

</body>
</html>
